
  <nav>
    <div class="navbar navbar-dark bg-light shadow-sm">
        <div class=" ms-3 navbar-brand  d-flex">
            
          <a class="navbar-brand text-secondary" routerLink="" ><strong style="font-size: 20px;">FakeShop</strong></a>
            <!-- <div class=" form-group">
                <input type="text" class="form-control mt-2" style="height: 30px;" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div> -->
            <div class="search-toggle mx-2">
              <input #input list="ShowDataList" type="text" placeholder="Type & Hit Enter" [(ngModel)]="searchTerm" (keyup)="search($event)" >
              <i  class="fa fa-search"></i>
              <datalist id="ShowDataList">
                <option value="Men">
                <option value="Women">
                <option value="Gold">
                <option value="Acer">
                <option value="Samsung">
                <option *ngFor="let product of products">{{product.title}}</option>
              </datalist>
            </div>

        </div>
        <button routerLink="cart" class="btn btn-light" > 
            <i style="font-size: 20px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
            
        </button>
    </div>

    

    
  </nav>

  <div  class="z me-3  "   >
    <div class=" btn  mt-3   align-self-center bg-light rounded-start" style="height: 100%; right: 0; top: 0; background: rgb(247, 245, 245);" (click)="in()" (mouseleve)='out()'>
      <span class="fs-4 fw-bold"><i class="fas fa-arrows-alt-h"></i></span>
    </div>
    
    <div @fade  class="shopping-cart" [ngClass]="status ? 'd-none' : '' ">
      
      <div class="shopping-cart-header">
        <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{totalItem}}</span>
        <div class="shopping-cart-total">
          <span class="lighter-text">Total:</span>
          <span class="main-color-text">{{grandTotal | currency}}</span>
        </div>
      </div> <!--end shopping-cart-header -->
  
      <ul class="shopping-cart-items list-unstyled">

        <li class="clearfix " *ngFor="let item of products">
          <img src={{item.image}} alt="item1" style="width: 60px;" />
          <span class="item-name">{{item.title}}</span>
          <span class="item-price">{{item.price | currency}}</span>
          <span class="item-quantity">Quantity: {{item.quantity}}</span>
        </li>
        
      </ul>
  
      <a routerLink="cart" class="btn btn-primary" (click)='out()'>Go to</a><a  class="btn btn-danger float-end" (click)='out()'>Close</a>
    </div> <!--end shopping-cart -->
  </div> <!--end container -->