
  <nav>
    <div class="navbar navbar-dark bg-light shadow-sm">
        <div class=" ms-3 navbar-brand  d-flex">
            
          <a class="navbar-brand text-secondary" routerLink="" ><strong style="font-size: 20px;">FakeShop</strong></a>
            <div class=" form-group">
                <input type="text" class="form-control mt-2" style="height: 30px;" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div>
        

        </div>
        <button routerLink="cart" class="btn btn-light">
            <i style="font-size: 20px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
  </nav>