<app-tabel [cartList]="cartList" [totals]="totals" [getTotal]="getTotalById" [checkFlag]="checkFlag" (tminus)="remove($event)" ></app-tabel>

<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Product</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Qty</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of cartList">
            <th scope="row">{{item.id}}</th>
            <td>{{item.title}}</td>
            <td><img class="img-thumbnail" src={{item.image}} alt="" style="max-width: 50px;"></td>
            <td>{{item.price}}</td>
            <td>{{getTotalById(item.id)}} <button class="btn btn-danger" (click)="remove(item.id)">X</button></td>
         </tr>
    </tbody>
  </table> -->
  <h6>Price: {{getTotalPrice() |  currency}}</h6>

  <app-form></app-form>