<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Product</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Qty</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of cartList">
            <th scope="row">{{item.id}}</th>
            <td>{{item.title}}</td>
            <td><img class="img-thumbnail" src={{item.image}} alt="" style="max-width: 50px;"></td>
            <td>{{item.price |  currency}}</td>
            <td *ngIf="checkFlag">{{getTotal(item.id)}} <button class="btn btn-danger" (click)="eventminus(item.id)">X</button></td>
            <td *ngIf="cartFlag"><button class="btn" (click)="eventplus(item.id)">+</button>{{getTotal(item.id)}}<button class="btn" (click)="eventminus(item.id)">-</button></td>
         </tr>
    </tbody>
  </table>
