<div class=" ">
    <div class="container d-flex mt-3 flex-wrap justify-content-center">
        <div class="  mx-2 p-2 bg-info  text-white">
            <a (click)="filter('')">
                <h6>All</h6>
            </a>
        </div>
        <div class="  mx-2 p-2 bg-info  text-white" >
            <a (click)="filter('electronics')">
                
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="  mx-2 p-2 bg-info  text-white">
            <a (click)="filter('fashion')">
                
                <h6>Fashion</h6>
            </a>
        </div>
        <div class=" mx-2 p-2 bg-info  text-white">
            <a (click)="filter('jewelery')">
                <h6>Jewllery</h6>
            </a>
        </div>
    </div>
</div>
<div class="d-flex flex-wrap justify-content-center " >
    
    <div *ngIf="productList; then thenBlock else elseBlock"></div>
    <ng-template  #thenBlock>
      
            <div   class="p-3" *ngFor="let product of filterCategory | filter:searchKey:'title'">
                <app-product [product]="product"></app-product>
            </div>
        
        
     </ng-template>
    <ng-template #elseBlock><h1 class="mt-5 text-center">Loading...</h1></ng-template>
    

</div>
