<div class=" ">
    <div class="container d-flex mt-3 flex-wrap justify-content-center">
        <div class=" mx-2 p-2 ">
            <button class="btn btn-info text-white" (click)="filter('')">
                <h6>All</h6>
            </button>
        </div>
        <div class=" mx-2 p-2 " >
            <button class="btn btn-info text-white" (click)="filter('electronics')">
                
                <h6>Electronics</h6>
            </button>
        </div>
        <div class="  mx-2 p-2 ">
            <button class="btn btn-info text-white" (click)="filter('fashion')">
                
                <h6>Fashion</h6>
            </button>
        </div>
        <div class="  mx-2 p-2 ">
            <button class="btn btn-info text-white" (click)="filter('jewelery')">
                <h6>Jewllery</h6>
            </button>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-3 text-center">
    <div class="mx-2">
        <label for="customRange3" class="form-label">Price range</label>
        <div class="d-flex">
            <span>0 </span>
        <input type="range" class="form-range mx-2"  min="0" max={{priceRange}} step="100" value="1000" #prange (input)="priceFilter(prange.value)"  id="customRange3">
        <span> 1000</span>
        </div>
    </div>
    <div class="mx-2">
        <label for="customRange3" class="form-label">Rating range</label>
        <div class="d-flex">
            <span>0 </span><input type="range" class="form-range mx-2" min="0" step="0.5" max={{ratingRange}}  value="5" #rrange (input)="ratingFilter(rrange.value)"  id="customRange3"><span> 5</span>
        </div>
    </div>
</div>
<div class="d-flex flex-wrap justify-content-center " >
    
    <div   *ngIf="productList; then thenBlock else elseBlock"></div>
    <ng-template  #thenBlock>
      
            <div  @fade  class="p-3" *ngFor="let product of filterCategory | filter:searchKey:'title'">
                <app-product [product]="product"></app-product>
            </div>
        
        
     </ng-template>
    <ng-template #elseBlock><h1 class="mt-5 text-center">Loading...</h1></ng-template>
    

</div>
