
<div class="p-5 mb-4 bg-light rounded-3" *ngIf="product">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{product.title}}</h1>
      <img class="img-thumbnail" src={{product.image}} alt="" style="max-width: 25%;">
      <p class="col-md-8 fs-4">{{product.description}}</p>
      <p>Category: <span>{{product.category}} </span> </p>
      <p>Price: <span>{{product.price | currency}}</span></p>
      <a routerLink="/list" class="btn btn-primary btn-lg" type="button"><strong>&#60;</strong></a> <button class=" ms-3 btn btn-success btn-lg" (click)="addtocart()" >Add</button>
    </div>
  </div>
